<div id="sidebar" class="col-2 d-flex flex-column">
  <h3>Team 3</h3>
  <h5>S12</h5>
  
  <b>1 Table Queries</b>
  <a href="#">Query 1</a>
  <a href="#">Query 2</a>

  <b>2 Table Queries</b>
  <a href="#">Query 1</a>
  <a href="#">Query 2</a>

  <b>3 Table Queries</b>
  <a href="#">Query 1</a>
  <a href="#">Query 2</a>

  <b>4+ Table Queries</b>
  <a href="#">Query 1</a>

  <footer>See our <a href="#">Notion</a></footer>
</div>